@model DK.Web.Models.ManageUserViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row mb10">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb10">
        <div class="col-xs-6">
            <button type="submit" class="btn btn-lightblue btn-primary" onclick="">Lưu</button>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}