@using DK.Application.Models
@model IEnumerable<KiemKe>

<table class="table table-bordered mg-b-0" cellspacing="0">
    <tr>
        <th rowspan="2">STT</th>
        <th rowspan="2">
            @Html.DisplayNameFor(m => m.Code)
        </th>
        <th rowspan="2">
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th rowspan="2">
            @Html.DisplayNameFor(m => m.NamSuDung)
        </th>
        <th colspan="3" class="text-center">
            Theo sổ kế toán
        </th>
        <th colspan="3" class="text-center">
            Theo kiểm kê
        </th>
        <th colspan="3" class="text-center">
            Chênh lệch
        </th>
        <th rowspan="2">
            @Html.DisplayNameFor(m => m.GhiChu)
        </th>
    </tr>
    <tr>
        <th style=" border-left: 1px solid #dee2e6; ">
            @Html.DisplayNameFor(m => m.SoLuongKeToan)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NguyenGiaKeToan)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.GiaTriConLaiKeToan)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.SoLuongKiemKe)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NguyenGiaKiemKe)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.GiaTriConLaiKiemKe)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.SoLuongChenhLech)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NguyenGiaChenhLech)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.GiaTriConLaiChenhLech)
        </th>
    </tr>

    @{
        var stt = 1;
        foreach (var item in Model)
        {
            var nguyenGiaCL = KiemKe.GetChenhLech(item.NguyenGiaKeToan, item.NguyenGiaKiemKe);
            var giaTriConLaiCL = KiemKe.GetChenhLech(item.GiaTriConLaiKeToan, item.GiaTriConLaiKiemKe);
            <tr class="stat even">
                <td class="ac">
                    @(stt++)
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @(item.NamSuDung)
                </td>
                <td>
                    @(item.SoLuongKeToan)
                </td>
                <td>
                    @(item.NguyenGiaKeToan.HasValue? item.NguyenGiaKeToan.Value.ToString("N0") : null)
                </td>
                <td>
                    @(item.GiaTriConLaiKeToan.HasValue? item.GiaTriConLaiKeToan.Value.ToString("N0") : null)
                </td>
                <td>
                    @(item.SoLuongKiemKe)
                </td>
                <td>
                    @(item.NguyenGiaKiemKe.HasValue? item.NguyenGiaKiemKe.Value.ToString("N0") : null)
                </td>
                <td>
                    @(item.GiaTriConLaiKiemKe.HasValue? item.GiaTriConLaiKiemKe.Value.ToString("N0") : null)
                </td>
                <td>
                    @(KiemKe.GetChenhLech(item.SoLuongKiemKe, item.SoLuongKeToan))
                </td>
                <td>
                    @(nguyenGiaCL.HasValue ? nguyenGiaCL.Value.ToString("N0") : null)
                </td>
                <td>
                    @(giaTriConLaiCL.HasValue ? giaTriConLaiCL.Value.ToString("N0") : null)
                </td>
                <td>
                    @(item.GhiChu)
                </td>
            </tr>
        }
    }
</table>

