@using System.Linq
@model DK.Web.Core.PagerViewModel
@{
    ViewBag.Title = "Chi tiết kiểm kê";
    var kiemKe = ViewBag.KiemKe as DK.Application.Models.Type;
    var canManage = DK.Application.Models.RoleList.GetAll().Any(User.IsInRole);
    var reportTemplates = DK.Application.Models.ReportVariables.Templates.Where(m => m.Key.StartsWith("1")).ToList();
}

<style>
    .table tr th {
        vertical-align: middle;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
{
    <div class="card mt-2 mb-2 shadow-base">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 search-item">
                    @Html.Partial("_Form", kiemKe)
                </div>
                <div class="col-md-6 search-item">
                    <div class="dropdown d-sm-inline-block @(canManage ? "pull-right": "")">
                        <a class="btn btn-sm bd pointer" href="#"><i class="fa fa-upload"> </i> Đẩy dữ liệu vào thiết bị</a>
                        <a class="btn btn-sm bd pointer" href="#" onclick="createKiemKe(this);"><i class="fa fa-deviantart"> </i> Đọc từ thiết bị</a>
                        <a class="btn btn-sm bd pointer" href="/KiemKe/Import/@kiemKe.Id" onclick="createKiemKe(this);"><i class="fa fa-file-excel-o"> </i> Đọc từ excel</a>

                        <a class="dropdown-toggle btn btn-sm btn-primary" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-eye"></i> Xem trước
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            @foreach (var item in reportTemplates)
                            {
                                <a class="dropdown-item" target="_blank" href="/KiemKe/Preview/@kiemKe.Id?pattern=@item.Key" data-pattern="@item.Key">@item.Value.Item1 - @item.Key</a>
                            }
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tải file
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                @foreach (var item in reportTemplates)
                                {
                                    <a class="dropdown-item" href="/KiemKe/Export/@kiemKe.Id?pattern=@item.Key" data-pattern="@item.Key">@item.Value.Item1 - @item.Key</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (canManage)
    {
        <button class="btn btn-sm bd bg-primary tx-white pointer" type="submit"><i class="fa fa-save"></i> Lưu lại</button>
    }
    <a class="btn btn-sm bd pointer bg-white" href="/KiemKe/Index"><i class="fa fa-arrow-left"></i> Quay lại</a>
}
<div class="row mt-4">
    <div class="col-12">
        @*<div class="mb-1">
            <a href="@Url.Action("NewOrEdit", new { parentId = kiemKe.Id, returnUrl = Request.RawUrl })" class="btn btn-primary btn-sm mr-1"><i class="fa fa-plus"></i> Thêm</a>
        </div>*@
        <div class="card shadow-base bd-0">
            <div class="table-responsive">
                @Html.Partial("_DetailTable", Model.Items)
            </div>
        </div>
        @Html.Partial("_PagerPartial", Model)
    </div>
</div>

