<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title </title>
    <!-- Bootstrap -->
    <link href="/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/Content/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/Content/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/Content/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="/Content/build/css/custom.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui/jquery-ui.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style>
        .message-success {
            margin-left: 10px;
            color: white;
            background-color: #329832;
            padding-top: 5px;
            padding-bottom: 4px;
            padding-left: 7px;
            margin-bottom: 7px;
            font-weight: bold;
            border-radius: 4px;
        }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("_MenuLeft")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Content/images/user.png" alt="">@(DK.Web.DependencyResolution.IoC.Container.GetInstance<DK.Framework.Services.IfwUserService>().CurrentUser.Name)
                                        <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profile</a></li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Help</a></li>*@
                                    <li><a href="/Weblib/ChangePassword"><i class="fa fa-send-o pull-right"></i> Đổi mật khẩu</a></li>
                                    <li><a href="/Account/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @if (DK.Framework.SessionUtilities.Get(Constant.SESSION_MessageSuccess) != null)
                {
                    <div class="col-md-12 col-sm-12 col-xs-12 bg-success">@DK.Framework.SessionUtilities.Get(Constant.SESSION_MessageSuccess)</div>
                    DK.Framework.SessionUtilities.Remove(Constant.SESSION_MessageSuccess);
                }
                @if (DK.Framework.SessionUtilities.Get(Constant.SESSION_MessageError) != null)
                {
                    <div class="col-md-12 col-sm-12 col-xs-12 bg-danger">@DK.Framework.SessionUtilities.Get(Constant.SESSION_MessageError)</div>
                    DK.Framework.SessionUtilities.Remove(Constant.SESSION_MessageError);
                }
                <!-- top tiles -->
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Bản quyền thuộc Bộ chỉ huy quân sự tỉnh Quảng Ninh</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div class="modal fade  bs-example-modal-lg" id="GeneralModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/dist/jquery.js"></script>
    <script src="~/Content/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="~/Content/bootstrap-datetimepicker/moment-with-locales.min.js"></script>
    <script src="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- FastClick -->
    <script src="/Content/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/Content/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/Content/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/Content/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/Content/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/iCheck/icheck.min.js"></script>
    <script src="~/Content/switchery/dist/switchery.min.js"></script>
    <!-- Skycons -->
    <script src="/Content/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/Content/Flot/jquery.flot.js"></script>
    <script src="/Content/Flot/jquery.flot.pie.js"></script>
    <script src="/Content/Flot/jquery.flot.time.js"></script>
    <script src="/Content/Flot/jquery.flot.stack.js"></script>
    <script src="/Content/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/Content/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/Content/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/Content/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    @*<script src="/Content/DateJS/build/date.js"></script>*@
    <!-- bootstrap-daterangepicker -->
    <script src="/Content/js/moment/moment.min.js"></script>
    <script src="/Content/js/datepicker/daterangepicker.js"></script>
    <script src="/Content/select2/dist/js/select2.full.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/Content/build/js/custom.min.js"></script>
    <script src="~/Content/js/unsaved.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("autocomplete", required: false)
    <script src="~/Scripts/DK.js"></script>
    <script>
        DK.init();
    </script>
</body>
</html>
