<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- vendor css -->
    <link href="@Url.Content("~/Content/lib/font-awesome/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/Ionicons/css/ionicons.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/jquery-switchbutton/jquery.switchButton.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/rickshaw/rickshaw.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/select2/css/select2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/gritter/css/jquery.gritter.css")" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bracket.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")">

    @RenderSection("styles", required: false)
    <style>
        .message-success {
            margin-left: 10px;
            color: white;
            background-color: #329832;
            padding-top: 5px;
            padding-bottom: 4px;
            padding-left: 7px;
            margin-bottom: 7px;
            font-weight: bold;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo">
        <div class="text-center w-100">
            <a href="/">
                @*<img src="~/Images/logo.png" alt="@ViewBag.HeadTitle" class="logo-image">*@
                <span>TÀI SẢN</span>
            </a>
        </div>
    </div>
    <div class="br-sideleft overflow-y-auto">
        <div class="br-sideleft-menu pt-3" id="LeftMenu">
            @Html.Partial("_MenuLeft")
        </div><!-- br-sideleft-menu -->
    </div><!-- info-lst -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        </div><!-- br-header-left -->
        <div>
            @RenderSection("Factory", false)
        </div>
        <div class="br-header-right">
            <nav class="nav">
                <div class="dropdown">
                    @Html.Partial("_LoginPartial")
                </div><!-- dropdown -->
            </nav>
        </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="pd-x-30 pd-t-30">
            @RenderSection("Button", required: false)
            <h4 class="tx-gray-800 mg-b-5 panel-title">@ViewBag.Title</h4>
        </div>
        <div class="br-pagebody mg-t-5 pd-x-30">
            @RenderBody()
        </div><!-- br-pagebody -->
        <footer class="br-footer">
            <div class="footer-left">
                <div class="mg-b-2">Viện Khoa học Hình sự - Bộ Công An &copy; 2021.</div>
            </div>
        </footer>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
    <!-- Modal Default -->
    <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    </div>

    <div class="modal fade  bs-example-modal-lg" id="GeneralModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
    </div>

    <script>
        var iclassic = {
            currentLink: "@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]"
        };
    </script>

    <script src="~/Content/lib/jquery/jquery.js"></script>
    <script src="~/Content/lib/popper.js/popper.js"></script>
    <script src="~/Content/lib/bootstrap/bootstrap.js"></script>
    <script src="~/Content/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Content/lib/moment/moment.js"></script>
    <script src="~/Content/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="~/Content/lib/peity/jquery.peity.js"></script>
    <script src="~/Content/lib/chartist/chartist.js"></script>
    <script src="~/Content/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/Content/lib/d3/d3.js"></script>
    <script src="~/Content/lib/rickshaw/rickshaw.min.js"></script>
    <script src="~/Content/lib/gritter/js/jquery.gritter.js"></script>

    <script src="~/Scripts/bracket.js"></script>
    <script src="~/Scripts/ResizeSensor.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script>
        $(function () {
            'use strict'

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>

    <script>
        function alertSuccess(mess) {
            jQuery.gritter.add({
                position: 'center',
                title: 'Thông báo',
                text: mess,
                class_name: 'growl-success',
                image: '/Content/lib/gritter/images/success.png',
                sticky: false,
                time: '10000'
            });
        }
        function alertError(mess) {
            jQuery.gritter.add({
                title: 'Thông báo lỗi',
                text: mess,
                class_name: 'growl-danger',
                image: '/Content/lib/gritter/images/error.png',
                sticky: false,
                time: '10000'
            });
        }

        function cfmDelete() {
            var isConfirm = confirm("Bạn có chắc chắn muốn xóa bản ghi này?");
            return isConfirm;
        }

        jQuery(document).ready(function () {
            "use strict";

            $(".btnConfirm").click(function () {
                return cfmDelete();
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>