@using DK.Application.Models;
@model DK.Application.Models.TaiSan

@Html.Hidden("returnUrl", Request.Params["returnUrl"])
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.IsApproved)
@Html.ValidationSummary(true)
<div class="row mb-2">
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.Code)
        @Html.TextBoxFor(m => m.Code, new { Readonly = true, Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.GroupName)
        @Html.BuildDrodownList("GroupName", ViewBag.GroupName as IEnumerable<string>, Model.GroupName)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.ChungLoai)
        @Html.BuildDrodownList("ChungLoai", ViewBag.ChungLoai as IEnumerable<string>, Model.ChungLoai)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NhanHieu)
        @Html.TextBoxFor(m => m.NhanHieu, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.Serial)
        @Html.TextBoxFor(m => m.Serial, new { Class = "form-control form-control-sm", placeholder = "Số khung/Số máy" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.XuatXu)
        @Html.TextBoxFor(m => m.XuatXu, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.ThuocHopDong)
        @Html.TextBoxFor(m => m.ThuocHopDong, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.ThuocGoiThau)
        @Html.TextBoxFor(m => m.ThuocGoiThau, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NguonKinhPhi)
        @Html.BuildDrodownList("NguonKinhPhi", ViewBag.NguonKinhPhi as IEnumerable<string>, Model.NguonKinhPhi)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NganSachKhac)
        @Html.TextBoxFor(m => m.NganSachKhac, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NganSachNam)
        @Html.TextBoxFor(m => m.NganSachNam, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NamSanXuat)
        @Html.TextBoxFor(m => m.NamSanXuat, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NamSuDung)
        @Html.TextBoxFor(m => m.NamSuDung, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.NguyenGiaKeToan)
        @Html.TextBoxFor(m => m.NguyenGiaKeToan, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.SoLuong)
        @Html.TextBoxFor(m => m.SoLuong, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.BienSo)
        @Html.TextBoxFor(m => m.BienSo, new { Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.KhoiLuong)
        @Html.TextBoxFor(m => m.KhoiLuong, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.HaoMonLuyKe)
        @Html.TextBoxFor(m => m.HaoMonLuyKe, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.GiaTriConLai)
        @Html.TextBoxFor(m => m.GiaTriConLai, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.ChatLuong)
        @Html.BuildDrodownList("ChatLuong", ViewBag.ChatLuong as IEnumerable<string>, Model.ChatLuong)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.Label("Người sử dụng")
        @Html.TextBoxFor(m => m.NguoiSuDung, new { Class = "form-control form-control-sm", placeholder = "Cá nhân" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.Label("Người quản lý")
        @Html.TextBoxFor(m => m.NguoiQuanLy, new { Class = "form-control form-control-sm", placeholder = "Theo dõi chung" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.PhongQuanLy)
        @Html.BuildDrodownList("PhongQuanLy", ViewBag.PhongBan as IEnumerable<string>, Model.PhongQuanLy)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.LoaiXe)
        @Html.BuildDrodownList("LoaiXe", ViewBag.LoaiXe as IEnumerable<string>, Model.LoaiXe)
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.DungTichXiLanh)
        @Html.TextBoxFor(m => m.DungTichXiLanh, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.SoChoNgoi)
        @Html.TextBoxFor(m => m.SoChoNgoi, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.SoTang)
        @Html.TextBoxFor(m => m.SoTang, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.DienTichXayDung)
        @Html.TextBoxFor(m => m.DienTichXayDung, new { type = "number", Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.CapCongTrinh)
        @Html.TextBoxFor(m => m.CapCongTrinh, new { Class = "form-control form-control-sm price" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.DiaChi)
        @Html.TextBoxFor(m => m.DiaChi, new { Class = "form-control form-control-sm" })
    </div>
    <div class="col-md-4 col-sm-6 search-item">
        @Html.LabelFor(m => m.DienTichKhuonVien)
        @Html.TextBoxFor(m => m.DienTichKhuonVien, new { type = "number", Class = "form-control form-control-sm price" })
    </div>

    <div class="col-md-4 col-sm-6 search-item">
        <label>Tags, cách nhau bằng dấu ;. Ví dụ a;b</label>
        @Html.TextBoxFor(m => m.JoinedTags, new { Class = "form-control form-control-sm price" })
    </div>
</div>
