@using DK.Application.Models
@model DK.Application.Models.TaiSanSearchModel
@{
    var tags = ViewBag.Tags as IEnumerable<string> ?? new List<string>();
    var pageSizeList = new int[] { 10, 50, 100, 200, 500 };
    var canManage = DK.Application.Models.RoleList.GetAll().Any(User.IsInRole);
    var allViews = ((List<ViewField>)ViewBag.ViewFields).ToList();
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    <input type="hidden" id="pattern" name="pattern" value="">
    <div class="row mb-2">
        <div class="col-md-2 col-sm-3 search-item">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { Class = "form-control form-control-sm" })
        </div>
        <div class="col-md-2 col-sm-3 search-item">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { Class = "form-control form-control-sm" })
        </div>
        <div class="col-md-2 col-sm-3 search-item">
            @Html.LabelFor(m => m.GroupName)
            @Html.DropDownListFor(x => x.GroupName, new SelectList(ViewBag.GroupName), "Tất cả", new { Class = "form-control form-control-sm" })
        </div>
        <div class="col-md-2 col-sm-3 search-item">
            @Html.LabelFor(m => m.ChungLoai)
            @Html.DropDownListFor(x => x.ChungLoai, new SelectList(ViewBag.ChungLoai), "Tất cả", new { Class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="collapse py-2" id="collapseExample">
        <div class="row">
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.NhanHieu)
                @Html.TextBoxFor(m => m.NhanHieu, new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.Label("Serial ")
                @Html.TextBoxFor(m => m.Serial, new { Class = "form-control form-control-sm", placeholder = "Số khung/Số máy" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.XuatXu)
                @Html.TextBoxFor(m => m.XuatXu, new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.ThuocHopDong)
                @Html.TextBoxFor(m => m.ThuocHopDong, new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.ThuocGoiThau)
                @Html.TextBoxFor(m => m.ThuocGoiThau, new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.NguonKinhPhi)
                @Html.DropDownListFor(x => x.NguonKinhPhi, new SelectList(ViewBag.NguonKinhPhi), "Tất cả", new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.NganSachNamSearch)
                @Html.TextBoxFor(m => m.NganSachNamSearch, new { Class = "form-control form-control-sm", type = "number", min = "1" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.NamSanXuatSearch)
                @Html.TextBoxFor(m => m.NamSanXuatSearch, new { Class = "form-control form-control-sm", type = "number", min = "1" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.NamSuDungSearch)
                @Html.TextBoxFor(m => m.NamSuDungSearch, new { Class = "form-control form-control-sm", type = "number", min = "1" })
            </div>
            @*<div class="col-md-2 col-sm-3 search-item">
                    @Html.LabelFor(m => m.SoLuongSearch)
                    @Html.TextBoxFor(m => m.SoLuongSearch, new { Class = "form-control form-control-sm", type = "number", min = "1" })
                </div>*@
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.ChatLuong)
                @Html.DropDownListFor(x => x.ChatLuong, new SelectList(ViewBag.ChatLuong), "Tất cả", new { Class = "form-control form-control-sm" })
            </div>
            @*<div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.NguyenGiaKeToan)
                    <div class="input-group">
                        <span class="input-group-addon">
                            Từ
                        </span>
                        @Html.TextBoxFor(m => m.GiaKeToanTu, new { Class = "form-control form-control-sm price" })
                        <span class="input-group-addon">
                            đến
                        </span>
                        @Html.TextBoxFor(m => m.GiaKeToanDen, new { Class = "form-control form-control-sm price" })
                    </div>
                </div>*@
            @*<div class="col-md-4 col-sm-6 search-item">
                    @Html.LabelFor(m => m.NguyenGiaKiemKe)
                    <div class="input-group">
                        <span class="input-group-addon">
                            Từ
                        </span>
                        @Html.TextBoxFor(m => m.GiaKeToanTu, new { Class = "form-control form-control-sm price" })
                        <span class="input-group-addon">
                            đến
                        </span>
                        @Html.TextBoxFor(m => m.GiaKiemKeDen, new { Class = "form-control form-control-sm price" })
                    </div>
                </div>*@
            <div class="col-md-2 col-sm-3 search-item">
                @Html.Label("Người sử dụng")
                @Html.TextBoxFor(m => m.NguoiSuDung, new { Class = "form-control form-control-sm", placeholder = "Cá nhân" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.Label("Người quản lý")
                @Html.TextBoxFor(m => m.NguoiQuanLy, new { Class = "form-control form-control-sm", placeholder = "Theo dõi chung" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.PhongQuanLy)
                @Html.DropDownListFor(x => x.PhongQuanLy, new SelectList(ViewBag.PhongBan), "Tất cả", new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.BienSo)
                @Html.TextBoxFor(m => m.BienSo, new { Class = "form-control form-control-sm", placeholder = "Biển số" })
            </div>
            <div class="col-md-2 col-sm-3 search-item">
                @Html.LabelFor(m => m.LoaiXe)
                @Html.DropDownListFor(x => x.LoaiXe, new SelectList(ViewBag.LoaiXe), "Tất cả", new { Class = "form-control form-control-sm" })
            </div>
            <div class="col-md-4 col-sm-6 search-item">
                @Html.LabelFor(m => m.Tags)
                <select name="Tags" class="form-control form-control-sm input-sm select2" multiple="multiple">
                    @foreach (var tag in tags)
                    {
                        <option value="@tag" @(Model.Tags.Contains(tag) ? "selected='selected'" : "")>@tag</option>
                    }
                </select>
            </div>
            @if (Model.IsApproved || canManage)
            {
                <div class="col-md-2 col-sm-3 search-item">
                    @Html.Label("Người tạo")
                    @Html.DropDownListFor(x => x.CreatedBy, new SelectList(ViewBag.Members), "Tất cả", new { Class = "form-control form-control-sm" })
                </div>
            }
        </div>
    </div>
    <div class="text-center collapse-icon">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="d-sm-inline-block w-100">
            <i class="ion-chevron-down mt-1"></i>
        </a>
    </div>
    <div class="row">
        <div class="col search-item">
            @Html.CheckBoxFor(x => x.IncludeSub)
            <label>Tài sản con</label>
            <button id="btnSearch" class="btn btn-sm bd bg-primary tx-white pointer" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
            <a class="btn btn-sm bd pointer" href="/Home/Index"><i class="fa fa-refresh"></i> Reset</a>
            @if (Model.IsApproved)
            {
                <button class="btn  btn-sm bd bg-primary tx-white pointer pull-right print-barcode ml-1" type="button"><i class="fa fa-barcode"></i> In mã vạch</button>
            }

            <div class="dropdown d-sm-inline-block pull-right">
                @if (Model.IsApproved)
                {
                    <a class="btn  btn-sm bd pointer" href="javascript:void(0)" onclick="createKiemKe(this);"><i class="fa fa-plus"></i> Tạo kiểm kê</a>
                }
                <a class="dropdown-toggle btn  btn-sm  btn-primary" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i> Tải file
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    @{
                        var reportTemplates = DK.Application.Models.ReportVariables.Templates.Where(m => !m.Key.StartsWith("1"));
                        if (!Model.IsApproved)
                        {
                            reportTemplates = reportTemplates.Where(m => m.Key == "data");
                        }

                        foreach (var item in reportTemplates)
                        {
                            <a class="dropdown-item report" href="javascript:void(0)" data-pattern="@item.Key">@item.Value.Item1 - @item.Key</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col search-item">
            <div class="pull-left mr-2" style="width: 112px;">
                <div class="input-group">
                    @Html.DropDownListFor(x => x.PageSize, new SelectList(pageSizeList), new { Class = "form-control form-control-sm" })
                </div>
            </div>
            @if (canManage || !Model.IsApproved)
            {
                <button type="button" class="btn btn-sm btn btn-info" data-toggle="modal" data-target="#modalViews">
                    <i class="fa fa-table"> </i>
                    Hiển thị cột
                </button>
                <a class="btn btn-sm btn-danger pointer DeleteItem" href="/Home/DeleteTaiSan"><i class="fa fa-times"></i> Xóa</a>
            }
            @if (canManage && !Model.IsApproved)
            {
                <a class="btn btn-sm btn-success pointer ApproveItem" href="javascript:void(0)"><i class="fa fa-check"></i> Phê duyệt</a>
            }
        </div>
    </div>
}
<div class="modal fade" id="modalViews" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn các cột hiển thị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("SetView")" method="post">
                <div class="modal-body">

                    <div class="form-row align-items-center">
                        <div class="form-check col-sm-4">
                            @Html.CheckBox("allCol", allViews.All(m => m.Display))
                            <label class="form-check-label" for="allCol">
                                <strong>
                                    Tất cả
                                </strong>
                            </label>
                        </div>
                        @for (int i = 0; i < allViews.Count; i++)
                        {
                            var item = allViews[i];
                            <div class="form-check col-sm-4">
                                <input type="hidden" name="@("allViews[" + i + "].Id")" value="@item.Id">
                                <input type="hidden" name="returnUrl" value="@Request.RawUrl">
                                <input type="hidden" name="@("allViews[" + i + "].DisplayText")" value="@item.DisplayText">
                                @Html.CheckBox("allViews[" + i + "].Display", item.Display, new { @class = "view-col" })
                                <label class="form-check-label" for="@item.Id">
                                    @item.DisplayText
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-info">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>