@using DK.Application.Models
@model TaiSan
<tr class="stat even">
    <td class="ac">
        @(Model.No + 1)
    </td>
    <td>
        <a href="@Url.Action("NewOrEditChildAsset", "Home", new { parentId = ViewBag.ParentId, Code = Model.Code, returnUrl = Request.RawUrl })" >@Model.Code</a>
    </td>
    <td>
        <a href="@Url.Action("NewOrEditChildAsset", "Home", new { parentId = ViewBag.ParentId, Code = Model.Code, returnUrl = Request.RawUrl })">@Model.Name</a>
    </td>
    <td>
        @Model.NhanHieu
    </td>
    <td>
        @Model.Serial
    </td>
    <td>
        @Model.XuatXu
    </td>
    <td>
        @Model.NamSanXuat
    </td>
    <td>
        @Model.NamSuDung
    </td>
    <td>
        @Model.SoLuong
    </td>
    <td>
        @Model.KhoiLuong
    </td>
    <td>
        @Model.ChatLuong
    </td>
    <td>
        <a class="text-danger" onclick="return removeTaiSanChild()" href="@Url.Action("DeleteChildAsset", "Home", new { parentId = ViewBag.ParentId, Code = Model.Code, returnUrl = Request.RawUrl })">Xóa</a>
    </td>
</tr>



