@using DK.Application.Models
@model DK.Web.Models.DashboardModel
@{
    ViewBag.Title = "Tổng quan";
    var colors = new List<string>
{
        "bg-teal",
        "bg-danger",
        "bg-danger",
        "bg-warning",
        "bg-info",
        "bg-purple",
        "bg-teal",
        "bg-danger",
        "bg-danger",
        "bg-warning",
        "bg-info",
        "bg-purple"
    };
}

<style>
    .table {
        background-color: transparent;
    }

    .min-height {
        min-height: 478px;
    }
</style>

<div class="row row-sm">
    <div class="col-sm-6 col-xl-3">
        <div class="bg-teal rounded overflow-hidden">
            <div class="pd-25 d-flex align-items-center">
                <i class="ion ion-ios-checkmark-outline tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Tổng số đợt kiểm kê</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@Model.TongSoDotKiemKe</p>
                    <span class="tx-11 tx-roboto tx-white-6"></span>
                </div>
            </div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
        <div class="bg-danger rounded overflow-hidden">
            <div class="pd-25 d-flex align-items-center">
                <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Tổng số tài sản</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@Model.TongSoTaiSan</p>
                    <span class="tx-11 tx-roboto tx-white-6"></span>
                </div>
            </div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-primary rounded overflow-hidden">
            <div class="pd-25 d-flex align-items-center">
                <i class="ion ion-model-s tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Tổng số xe</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@Model.TongSoXe</p>
                    <span class="tx-11 tx-roboto tx-white-6"></span>
                </div>
            </div>
        </div>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-br-primary rounded overflow-hidden">
            <div class="pd-25 d-flex align-items-center">
                <i class="ion ion-social-usd-outline tx-60 lh-0 tx-white op-7"></i>
                <div class="mg-l-20">
                    <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Tổng giá ban đầu</p>
                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@Model.TongNguonKinhPhi.ToString("N0")</p>
                    <span class="tx-11 tx-roboto tx-white-6"></span>
                </div>
            </div>
        </div>
    </div><!-- col-3 -->
</div><!-- row -->

<div class="row row-sm mg-t-20">
    <div class="col-8">
        <div class="card bd-0 shadow-base pd-30 min-height">
            <div class="d-flex align-items-center justify-content-between mg-b-30">
                <div>
                    <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Các đợt kiểm kê gần đây</h6>
                </div>
                <a href="/KiemKe/Index" class="btn btn-outline-info btn-oblong tx-11 tx-uppercase tx-mont tx-medium tx-spacing-1 pd-x-30 bd-2">Xem thêm</a>
            </div><!-- d-flex -->

            <table class="table table-valign-middle mg-b-0">
                <tbody>
                    @foreach (var item in Model.RecentKiemKes)
                    {
                        <tr>
                            <td>
                                <h6 class="tx-inverse tx-14 mg-b-0">
                                    <a href="@Url.Action("Detail", "KiemKe", new {item.Id })">@item.Title</a>
                                </h6>
                                <span class="tx-12">@item.CreatedBy</span>
                            </td>
                            <td>@item.Created.ToString("dd/MM/yyyy")</td>
                            <td class="pd-r-0-force tx-center"><a href="@Url.Action("Detail", "KiemKe", new {item.Id })" class="tx-gray-600"><i class="icon ion-link tx-18 lh-0"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div><!-- col-9 -->
    <div class="col-4">
        <div class="card bd-0 shadow-base pd-30  min-height">
            <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Danh mục (@ViewBag.Total)</h6>
            <br />
            @{
                var count = 0;
                foreach (var item in Model.DanhMucPercent)
                {
                    <label class="tx-12 tx-gray-600 mg-b-10">
                        <a href="@Url.Action("Index", "Category", new {Id = item.Key })">@item.Key (@Model.DanhMuc[item.Key])</a>
                    </label>
                    <div class="progress ht-5 mg-b-10">
                        <div class="progress-bar @colors[count] wd-@(item.Value)p" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    count++;
                }
            }
            <div class="mg-t-20 tx-13">
            </div>
        </div><!-- card -->
    </div><!-- col-3 -->
</div><!-- row -->
