@using DK.Application.Models
@model TaiSan
@{
    ViewBag.Title = Model.Id != Guid.Empty ? "Chỉnh sửa tài sản" : "Thêm mới tài sản";
    var canManage = DK.Application.Models.RoleList.GetAll().Any(User.IsInRole);
    ViewBag.ParentId = Model.Id;
}

<style>
    .search-item {
        margin-bottom: 10px;
    }

        .search-item label {
            margin-bottom: 0;
        }

    .bootstrap-tagsinput {
        width: 100%;
        padding: 0px 6px 5px 6px !important;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    @@media (min-width: 1200px) {
        .modal-xl {
            max-width: 1140px;
        }
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", onsubmit = "removeCurrencySeparators()" }))
{
    if (canManage || !Model.IsApproved)
    {
        <button class="btn btn-sm bd bg-primary tx-white pointer"><i class="fa fa-save"></i> Lưu lại</button>
    }
    <a class="btn btn-sm bd pointer bg-white" href="@Request.Params["returnUrl"]"><i class="fa fa-arrow-left"></i> Quay lại</a>
    <div class="card mt-2 mb-2 shadow-base">
        <div class="card-body">
            @Html.Partial("_NewOrEditAssetForm", Model)
        </div>
    </div>
    if (canManage || !Model.IsApproved)
    {
        <button class="btn btn-sm bd bg-primary tx-white pointer"><i class="fa fa-save"></i> Lưu lại</button>
    }
    <a class="btn btn-sm bd pointer bg-white" href="@Request.Params["returnUrl"]"><i class="fa fa-arrow-left"></i> Quay lại</a>


}
@if (Model.Id != Guid.Empty)
{
    <h4 class="mt-3">
        Danh sách tài sản con
    </h4>
    if (canManage || !Model.IsApproved)
    {
        <div class="mb-1">
            <a href="@Url.Action("NewOrEditChildAsset", "Home", new { parentId = Model.Id, Code = "", returnUrl = Request.RawUrl })" class="btn btn-primary btn-sm mr-1"><i class="fa fa-plus"></i> Thêm</a>
        </div>
    }
    <div class="card shadow-base mb-2 bd-0" id="children-asset">
        <div class="table-responsive">
            @Html.Partial("_TableChild", Model.Children)
        </div>
    </div>
}

@section Scripts {
    <link href="@Url.Content("~/Content/lib/select2/css/select2-bootstrap.min.css")" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>
        $(document).ready(function () {
            var activeClass = "@(Model.IsApproved ? "asset-approved": "asset-unapproved")";
            reActiveMenu(activeClass);
        });

        function reActiveMenu(activeClass) {
            $("#LeftMenu a.asset").removeClass('active');
            $("#LeftMenu a." + activeClass).addClass('active');
        }
        function removeTaiSanChild() {
            return confirm("Bạn có chắc muốn xóa?");
        }
    </script>
}
