@using DK.Web.Utilities
@using DK.Application.Models
@model DK.Web.Core.PagerViewModel
@{
    ViewBag.Title = "Danh sách tài sản chờ phê duyệt";

    var searchModel = ViewBag.SearchModel as DK.Application.Models.TaiSanSearchModel;
    var canManage = DK.Application.Models.RoleList.GetAll().Any(User.IsInRole);
}

@section styles {
    <link href="@Url.Content("~/Content/asset-management.css")" rel="stylesheet">
}

@section Button {
    <a href="@Url.Action("Import")" class="btn btn-primary btn-sm pull-right"><i class="fa fa-upload"></i> Import</a>
}

<div class="card mt-2 mb-2 shadow-base" id="searchBox">
    <div class="card-body pb-0">
        @Html.Partial("_SearchForm", searchModel)
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <form method="post">
            <div class="card shadow-base bd-0">
                <div class="table-responsive">
                    @Html.Partial("_Table", Model.Items)
                </div>
            </div>
            @Html.Partial("_PagerPartial", Model)
        </form>

        <div class="d-none">
            <form action="/Home/DeleteTaiSan" method="post" id="form-delete">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <link href="@Url.Content("~/Content/lib/select2/css/select2-bootstrap.min.css")" rel="stylesheet">
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/asset-management.js"></script>
}

